.card {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  margin: 1.2rem;

  &__side {
    height: 45rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($dark-dark, 0.15);

    &--front {
      background-color: $light-light;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $primary-light,
          $primary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $warning-light,
          $warning-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $danger-light,
          $dark-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 19rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $primary-light,
          $primary-dark
        ),
        url(../img/api.gif);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $warning-light,
          $warning-dark
        ),
        url(../img/img2.gif);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $danger-light,
          $danger-dark
        ),
        url(../img/img.gif);
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: $light-light;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $secondary-dark;
        }
      }
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $light-light;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 4rem;
    font-weight: 300;
  }
}
